@mixin respond($breakpoint) {

	@if($breakpoint == "phone") { 

		@media only screen and (max-width: 35.9375rem) { @content; }     //575
    } 
    
    @if($breakpoint == "phone-land") {

        @media only screen and (max-width: 47.9375rem) { @content; }   //767
    }

	@if($breakpoint == "tab-port") {

		@media only screen and (max-width: 61.9375rem) { @content; }   //991
	}

	@if($breakpoint == "tab-land") {

		@media only screen and (max-width: 74.9375rem) { @content; } //1199
    }
    
	@if ($breakpoint == "laptop") {
        @media only screen and (max-width: 87.5rem) { @content; } //1400
    }
	
    @if ($breakpoint == "desktop") {
        
        @media only screen and (min-width: 75rem) { @content; } //1200
    }
	
	@if($breakpoint == "big-desktop") {

		@media only screen and (min-width: 112.5rem) { @content; }  //1800
	}

}
@mixin custommq($min: null, $max: null) {
    @if ($min != null and $max != null) {
        @media only screen and (min-width: $min) and (max-width: $max) { @content; }
    }

    @if ($min == null and $max != null) {
        @media only screen and (max-width: $max) { @content; }
    }

    @if ($min != null and $max == null) {
        @media only screen and (min-width: $min) { @content; }
    }
}
.position-relative {
     position: relative !important; 
     .swiper-pagination-banner{
        position: absolute;
        z-index: 2;
        left: -1.375rem;
        top: 50%;
        transform: translateY(-50%);
        transform: translateY(-50%);
        .swiper-pagination-bullet{
            width: 0.75rem;
            height: 0.75rem;
            border-radius: 3.125rem;
            margin: 0.938rem 0;
            display: block;
            position: relative;
            background: #D9D9D9;
            cursor: pointer;
            &.swiper-pagination-bullet-active{
                background-color: #fc8019;
            }
        }
    }
}
.card {
    margin-bottom: 1.875rem;
    background-color: initial;
    transition: all .5s ease-in-out;
    position: relative;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 0.5rem;
	box-shadow:none;
	height: calc(100% - 30px);
	border:1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 1.875rem;
    min-width: 0;

    .card-body {
        padding: 1.65rem 0.9rem 0 1.65rem 0.9rem ;
        font-size: 1rem;
        font-weight: 500;
        // line-height: 2.2rem;
        color: #000;
        text-transform: capitalize;
    
        &--large{
            font-size: 1.5rem;
        }
    
        &--medium{
            font-size: 1rem;
        }
    
        &--small{
            font-size: 0.875rem;
        }
    }
    
}
.bb-border{
    position: relative;
    &:after{
		position: absolute;
		content: "";
		bottom: 0;
		left: -1.6rem;
		background: #ED8936;
		width: 118%;
		height: 1px;
        @include custommq($max:1600px){
			width:112%;
		}
		@include custommq ($max:1480px){
			width:113%;
		}
		@include respond ('laptop'){
			width:118%;
		}
		@include respond('tab-land'){
			width:108%;
		}
		@include respond ('phone'){
			width:118%;
			left:-0.9rem;
		}
}
}
.dlab-img{
	width:48%;
	@include respond ('phone'){
		width:0;
	}
	img{
		width: 297px;
		height: 215px;
		object-fit: contain;
		position: absolute;
		bottom: -9px;
		right: -47px;
		z-index: -1;
		@include custommq ($max:1600px){
			width: 64%;
			height: 100%;
			right: -60px;
		}
		@include respond ('laptop'){
			width:73%;
		}
		
		@include respond ('tab-land'){
			width: 34%;
			right: -52px;
		}
		@include respond ('phone-land'){
			width:54%;
			
		}
		@include respond ('phone'){
			width:88%;
			right:-75px;
			
		}
	}
}
